<!doctype html>
<html>
 <body>
  <header>
    <div class="header-container">
     <div class="logo">
      <img src="imgsrc/logo.jpeg" alt="Logo PokèBazar" />
     </div>
     <nav>
      <ul class="nav-links">
       <li><a href="index.jsp">Home</a></li>
       <li><a href="ServletCatalogo">Catalogo</a></li>
       <li><a href="#">Contatti</a></li>
      </ul>
     </nav>
     <div class="cart">
      <a href="general/carrello.jsp">Carrello</a>
     </div>
    </div>
  </header>
 </body>
</html>